body {
  height: 100%;
  background: linear-gradient(to right, #ef32d9, #89fffd);
  font-size: 28px;
}

.App {
  text-align: center;
  height: 100vw;
}

.App-header {
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
  height: 300px;
  padding-top: 35px;
}

#title {
  color: white;
}

.add-fields {
  margin-top: 50px;
  margin-left: 50px;
}

.input {
  margin-right: 16px;
}

.to-Do {
  right: 10vw;
}
li {
  margin-left: 0px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.5);
  height: 50px;
  margin: auto;
  width: 50%;
  background-color: white;
}

@media (max-width: 1000px) {
  li {
    width: 90%;
    margin-left: 0px;
  }
  .add-button {
    margin-top: 20px;
  }
}

ol {
  list-style: none;
}

.remove {
  float: right;
  background-color: rgb(211, 30, 30);
  margin-top: 5px;
}
